.about{
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about p{
    font-size: 1.5em;
    color: #aaa;
    margin-bottom: 2em;
}

.about a{
    font-size: 2em;
    margin-top: 15px;
    padding: 10px 15px;
}

.about h2, .about h3{
    font-size: 3em;
}